*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#ecf0f1 ;
}
.content{
    position: relative;
    border-radius: 15px;
    background-color: white;
    width: 960px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content::before{
    content:"";
    position: absolute;
    background-color:#58af9b;
    width:40%;
    height:100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0;
}

.second-content{
    position: absolute;
    display: flex;
}
.first-content{

    display: flex;
    
}
.first-content .second-colum{
    z-index: 12;
}
.second-content .first-colum{
    z-index: -1;
}
.second-content .second-colum{  
    z-index: -1;
}
.list-social{
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
}
.first-colum{
    text-align: center;
    width: 40%;
    z-index:10;
}
.second-colum{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-welcome{
    color: white;
}
.title-second{
    color: #58af9b;
}
.description{
    font-size: 14px;
    font-weight:300;
    line-height: 30px;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
}
.btn-primary{
    background-color: #58af9b;
    color: white;
    border: solid 1px white;
    transition: background-color 1s;
}
.btn-primary:hover{
    background-color: white;
    color: #58af9b;
    border: solid 1px #58af9b;
}
.list-social{
    list-style: none;
    display: flex;
}
.list-social a{
    color: #bec8ca;
    transition: background-color 1s;
}
.list-social a:hover{
    background-color: #58af9b;
}
.item-social-media{
    border: 1px solid #bdc3c7;
    border-radius:50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.social-media-link:not(:first-child){
    margin-left: 10px;
}
.description-primary{
    color: white;
}
.description-second{
    color: #7f8c8d;
}
.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}
.btn-second{
    background-color: #58af9b;
    border: 1px solid #58af9b;
    color: white;
    transition: background-color 1s;
}
.btn-second:hover{
    color: #58af9b;
    background-color: white;
}
.input{
    background-color: #ecf0f1 ;
    display: flex;
    align-items: center;
    margin: 5px;
}
.icone{
    padding: 0 5px;
}
.social-media-link:hover{
    background-color: #58af9b;
    color: white;
}
.social-media-link{
    border-radius:50%;
    width: 35px;
    height: 35px;
}
.second-content .first-colum{
    order: 2;
}
.second-content .second-colum{
    order: 1;
}
.password{
    color: #58af9b;
    font-size: 14px;
    margin: 15px 0;
}
.password::first-letter{
    text-transform: capitalize;
}
.sing-in .first-content .first-colum,
.sing-in .first-content .second-colum{
    z-index: -1;
    position: relative;
    animation: deslocation 2s;
}
.sing-in .second-content .second-colum{
    z-index: 11;
}
.sing-in .second-content .first-colum{
    z-index: 13;
}
.sing-in .content::before{
    left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    animation: slidein 2s;
    z-index: 12;
}

.sing-up .second-content .second-colum ,
.sing-up .second-content .first-colum{
    z-index: -1;
}

.sing-up .second-content .second-colum{
    position: relative;
    z-index: -1;
    animation: des 2s;
}

.sing-up .first-content .second-colum{
    z-index: 11;
}
.sing-up  .first-content .first-colum{
    z-index: 13;
}
.sing-up .content::before{
    animation: slidei 2s;
    z-index: 12;
}

@keyframes slidein{
    from{
        left:0;
        width:40%;
    }
    25%{
        left:20%;
        width:50%;
    }
    50%{
        left:35%;
        width: 60%;
    }
    75%{
        left:55%;
        width: 50%;
    }
    to{
        left:60%;
        width:40%;
    }
}

@keyframes slidei{
    from{
        left:60%;
        width:40%;
    }
    25%{
        left:55%;
        width:50%;
    }
    50%{
        left:35%;
        width:60%;
    }
    75%{
        left:20%;
        width: 50%;
    }
    to{
        left:0%;
        width:40%;
    }
}

@keyframes deslocation{
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25%{
        left: -80;
        opacity: .5;
    }
    50%{
        left: -110;
        opacity: .2;
    }
    to{
        left: -110px;
        opacity: 0;
        z-index: 0;
    }
}

@keyframes des{
    from{
        left: 0;
        z-index: 12;
        opacity: 1;
    }
    25%{
        left:80;
        opacity: .5;
    }
    50%{
        left: 100;
        opacity: .2;
    }
    to{
        left: 110px;
        z-index: 0;
    }


}